<footer class="f-container">
  <div class="f-content">
    <div class="f-column">
      <h3>Support</h3>
      <ul>
        <li><a href="#">Help Center</a></li>
        <li><a href="#">StayHive.org</a></li>
        <li><a href="#">Safety Information</a></li>
        <li><a href="#">Supporting People with Disabilities</a></li>
        <li><a href="#">Cancellation Options</a></li>
        <li><a href="#">Our COVID-19 Response</a></li>
        <li><a href="#">Report a Neighborhood Concern</a></li>
      </ul>
    </div>
    
    <div class="f-column">
      <h3>Community</h3>
      <ul>
        <li><a href="#">StayHive Magazine</a></li>
        <li><a href="#">StayHive Associates</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Investors</a></li>
        <li><a href="#">Gift Cards</a></li>
        <li><a href="#">StayHive.org Emergency Stays</a></li>
      </ul>
    </div>
    
    <div class="f-column">
      <h3>Hosting</h3>
      <ul>
        <li><a href="/listings/new">Try Hosting</a></li>
        <li><a href="#">StayHive Cover</a></li>
        <li><a href="#">Explore Hosting Resources</a></li>
        <li><a href="#">Visit Our Community Forum</a></li>
        <li><a href="#">How to Host Responsibly</a></li>
      </ul>
    </div>
  </div>
  
  <div class="f-bottom">
    <div class="f-socials">
      <i class="fa-brands fa-square-facebook"></i>
      <i class="fa-brands fa-square-instagram"></i>
      <i class="fa-brands fa-linkedin"></i>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-youtube"></i>
    </div>
    
    <div class="f-copyright">
      &copy; 2024 StayHive, Inc. All rights reserved.
    </div>
    
    <div class="f-tools">
      <a href="/">Privacy</a>
      <a href="/">Terms</a>
      <a href="/">Sitemap</a>
    </div>
  </div>
</footer>